<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta>
    <title>Shopping Cart</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/src/public/client_styles/assets/css/style.css">
	<!-- Demo CSS (No need to include it into your project) -->
	<link rel="stylesheet" href="/src/public/client_styles/assets/css/demo.css">
  
  </head>
  <body>
 <header class="intro">
 <h1>Shopping Cart</h1>
 </header>
  <body>

    {{>header}}
 
    {{{body}}}

    {{>footer}}
  
    
  </body>
  
</html>